@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

body {
	margin: 0 auto;
	width: 1200px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}

.main-container {
	flex-grow: 1;
}

.navigation {
	display: flex;
	margin: auto 70px;
}

.navigation-logo {
	width: 140px;
	margin-right: 28px;
}

.navigation-list{
	width: 530px;
	margin: 0;
	padding: 0;
}

.navigation-user {
	max-width: 280px;
	margin-left: auto;
	padding: 0;
	justify-content: flex-end;
}

.navigation-link {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
	color: #000000;
	text-align: center;

}

.button-search {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #756157;
	text-decoration: none;
}

.first-screen {
	background-image: url("../images/index-background.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: #7db54f;
	color: #ffffff;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
}

.text-about {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.text-reasons {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	color: #333333;
}

.advantages-list {
	display: flex;
	margin: 0 auto;
	padding: 0;
	flex-wrap: wrap;
}

/*
.adnantages-item {
	margin: 0 auto;
	padding: 0;
	width: 400px;
	height: 385px;
}
	*/

.advantages-title {
	text-transform: uppercase;
	text-align: center;
}

.advantages-description {
	text-align: center;
	color: #333333;
}

.descripton-white {
	text-align: center;
}

.title-white {
	color: #ffffff;
}

.descripton-white {
	color: #ffffff;
}

.advantages-item-img {
	background-color: #82b3d3;
}

.grey-light {
	background-color: rgba(131, 179, 211, 0.12);
}

.grey-dark {
	background-color: rgba(131, 179, 211, 0.2);
}

.services-list {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

.services-title {
	text-transform: uppercase;
}

.services-description {
	color: #333333;
}

.search-hotels {
	text-align: center;
}

.newsletter {
	text-align: center;
}

.newsletter-index {
	background-image: url("../images/main-background-newsletter.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: #7db54f;
	text-align: center;
	color: #ffffff;
}

.field {
	background-color: #f2f2f2;
}

.newsletter-button {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	color: #ffffff;
	background-color: #82b3d3;
}

.letter {
	color: #ffffff;
}

.page-footer-container {
	display: flex;
	width: 1060px;
  margin: 0 auto;
}

.footer-sotial-media {
	width: 150px;
	margin-right: 40px;
}

.footer-phone {
	width: 332px;
	margin: 0 195px;
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.logo-link-academy {
	margin-left: auto;
}



.catalog-hotels {
	width: 1200px;
	display: flex;
}

.select-hotels {
	background-image: url("../images/background-hotels-filter.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: #7db54f;
	color: #ffffff;
}

.filter-group {
	display: flex;
	width: 1060px;
}

.inner-header-title {
	font-size: 60px;
	line-height: 78px;
	font-weight: 700;
}

.breadcrumbs-link {
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	text-decoration: none;
	color: #ffffff;
}

.catalog-filter-title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

.control-input {
	line-height: 23px;
}

.button-filter {
	background-color: #82b3d3;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

.button-clear {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	background-color: transparent;
}

.sorting-container {
	display: flex;
	width: 1060px;
	margin: 0 70px;
}

.select-control {
	width: 292px;
	margin-right: 70px;
}


.product-list {
	display: flex;
	width: 1200px;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	margin: 0 70px;
}

.product-card {
	width: 340px;
	margin-right: 20px;
}

.catalog-hotels-cards {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	width: 338px;
	margin-right: 200px;
}

.product-card-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
}

.product-card-price {
	text-align: right;
}

.product-card-button {
	background-color: #756157;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

.add-favorites-button {
	background-color: #82b3d3;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
}

.take-button {
	background-color: #7db54f;
}

.product-card-rating {
	background-color: #f2f2f2;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
	color: #333333;
}

.pagination-link {
	background-color: #82b3d3;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

.pagination-choose-page {
	color: #000000;
}

.pagination-current {
	background-color: #f2f2f2;
	color: #000000;
}




li {
	list-style: none;
}

/*
.visually-hidden {
}
*/