@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0 auto;
	width: 1200px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	background-color: rgba(242, 242, 242, 1);
}

.page-container {
	background-color: #ffffff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); 
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
	

.main-container {
	flex-grow: 1;
	margin: 0;
	padding: 0;
}

.navigation {
	display: grid;
	padding: 0 70px;
	grid-template-columns: 140px 1fr  auto;
  column-gap: 30px;
}

.navigation-list{
	display: flex;
  align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;
}

.navigation-link {
	position: relative;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
	color: #000000;
	text-align: center;
	padding: 20px 16px;
}


.navigation-link-current::before {
	position: absolute;
	right: 16px;
	bottom: 0px;
	left: 16px;
	height: 2px;
	background-color: #756257;
	content: "";
}

.notifications-badge {
    position: absolute;
    top: 11px;
    right: 4px;
    z-index: 1;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px 4px;
    font-size: 10px;
    line-height: 10px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #7db54f;
    text-decoration: none;
}

.navigation-user {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
}

/* способ вставления иконки при помощи фонового изображения (не позволяет менять цвет этой иконки)
.navigation-user .navigation-item:nth-child(1) .navigation-link {
	background-image: url("../images/icon/icon-search.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 18px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
	background-image: url("../images/icon/icon-favorites.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 18px;
} */

.button-want-here {
	font-family: "PT Sans", sans-serif;
	width: 160px;
	border-radius: 4px;
	padding: 8px 50px;
	margin-left: 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #756157;
	text-decoration: none;
}

.brown-button:hover,
.brown-button:focus {
	background-color: #615048;
}

.brown-button:active {
	background-color: rgba(117, 97, 87, 1);
	color: rgba(255, 255, 255, 0.3);
}

.blue-button:hover,
.blue-button:focus {
	background-color: #68a2ca;
}

.blue-button:active {
	background-color: rgba(130, 179, 211, 1);
	color: rgba(255, 255, 255, 0.3);
}

.first-screen {
	background-image: url("../images/divider.png"), url("../images/index-background.jpg");
	background-position: center bottom, center; /*задаем по оси х и у*/
	background-size: 100% auto, cover; /*задаем по оси х и у через запятую для каждой картинки*/
	background-repeat: no-repeat, no-repeat;
	background-color: #7db54f;
	color: #ffffff;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	padding: 50px 370px 82px;
}

/* более простая версия - отступы для картинки. но если вместо картинки захотят поставить что-то другое, то придется опять прописывать, а так уже минимально готовые чтобы вертска не поломалась
.image-welcome {
	margin: 51px 371px 82px 371px;
} */

.text-about {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.text-reasons {
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	color: #333333;
	margin: 0;
	padding: 0;
}

.advantages-wrapper{
	padding: 70px 270px 90px;
}

.advantages-list {

	display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	list-style: none;
}


.adnantages-item {
	width: 400px;
	min-height: 385px;
}

.advantages-item-img {
	display: flex;
	width: 1200px;
}

.advantages-item-text {
	display: flex;
	flex-direction: column;
	width: 230px;
	margin: 102px 85px;
	position: relative;
}


.advantages-item-img-text {
	flex-direction: column;
}

.advantages-title {
	width: 175px;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	margin: auto;
}

.advantages-title::after {
position: absolute;
right: 85px;
top: 86px;
left: 85px;
width: 60px;
height: 2px;
background-color: rgba(0, 0, 0, 0.3);
content: "";
}

.title-white::after {
	background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
	text-align: center;
	color: #333333;
	margin-top: 62px;
}

.descripton-white {
	text-align: center;
}

.title-white {
	color: #ffffff;
}

.descripton-white {
	color: #ffffff;
}

.advantages-item-img {
	background-color: #82b3d3;
}

.grey-light {
	background-color: rgba(131, 179, 211, 0.12);
}

.grey-dark {
	background-color: rgba(131, 179, 211, 0.2);
}

.services-wrapper{
	padding: 64px 347px 64px;
}

.services-list {
	display: flex;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.services-item {
	width: 400px;
	margin: 0;
	padding: 81px 85px;
}

.services-title {
	text-transform: uppercase;
}

.services-description {
	color: #333333;
}

.search-hotels {
	text-align: center;
	padding: 96px 304px;
	}

.button-search {
	width: 380px;
	height: 52px;
	background-color: #756157;
	border: 2px solid #756157;
	border-radius: 4px;
	padding: 8px 50px;
	margin-top: 54px;
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	cursor: pointer;
}

.newsletter {
	text-align: center;
	padding: 96px 258px 104px;
}

.newsletter-index {
	background-image: url("../images/main-background-newsletter.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: #7db54f;
	text-align: center;
	color: #ffffff;
}

.newsletter-form {
	width: 684px;
	display: flex;
}


.mail-field {
	width: 450px;
	height: 52px;
	background-color: #ffffff;
	border-radius: 4px 0px 0px 4px;
	border-color: #ffffff;
	margin-top: 54px;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #f2f2f2;
	padding: 14px 20px;
	border: none;
}

.mail-field-white {
	width: 450px;
	height: 52px;
	background-color: #f2f2f2;
	border-radius: 4px 0px 0px 4px;
	border-color: #f2f2f2;
	margin-top: 54px;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	padding: 14px 20px;
	border: none;
}

.newsletter-button {
	width: 230px;
	height: 52px;
	background-color: #82b3d3;
	border-radius: 0px 4px 4px 0px;
	border-color: #82b3d3;
	padding: 8px 50px;
	margin-top: 54px;
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	padding: 8px 50px;
	border: none;
	cursor: pointer;
}


.letter {
	color: #ffffff;
}


.main-footer {
	padding: 40px 70px 30px;
}

.page-footer-container {
	display: flex;
	width: 1060px;
  margin: 0 auto;
}

.footer-sotial-media {
	width: 150px;
	margin-right: 40px;
}

.social-media {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0px 10px;
}


.social-link {
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
}

/* как покрасить картинки или svg - этот не сработал
.social-link svg:hover {
	background-color: #68a2ca;
}

.footer-contacts:hover {
	color: #756157;
} */

.footer-phone {
	width: 332px;
	margin: 0 195px;
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}


a[href^="tel:"]:hover {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #756157;
}


.logo-link-academy {
	margin-left: auto;
}

.logo-link-academy:hover {
	color: #756157;
}



.select-hotels {
	background-image: url("../images/background-hotels-filter.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: #7db54f;
	color: #ffffff;
	margin: 0;
	padding: 35px 70px 70px;
}



.inner-header-title {
	font-size: 60px;
	line-height: 78px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
}

.breadcrumbs {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs-link {
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	text-decoration: none;
	color: #ffffff;
	margin-right: 28px;
}


.catalog-filter-title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

.control-input {
	line-height: 23px;
}

.button-filter {
	background-color: #82b3d3;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: #82b3d3;
	width: 190px;
}

.button-clear {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: none;
	width: 190px;
}

.sorting-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 1060px;
	margin: 50px 70px 40px;
}



.catalog-hotels-title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}


.select-control {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	width: 290px;
	height: 50px;
	border-radius: 4px;
	border: 2px solid #e5e5e5;
	padding: 14px 20px;
	margin-right: 70px;
}

.find-hotels {
	margin-right: auto;
}

.view-buttons {
	display: grid;
	grid-template-columns: repeat(3, 48px);
	column-gap: 8px;
	list-style: none;
	align-items: center;
	padding-inline-start: 0px;
}

.view-button-title {
	display: flex;
	justify-content: center;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	width: 48px;
	height: 48px;
	align-items: center;
}

.catalog-hotels {
	width: 1200px;
	display: flex;
}

.filter-group {
	display: flex;
	width: 1060px;
}

/* способ сверстать список карточек на флексах

.product-list {
	display: flex;
	flex-wrap: wrap;
	width: 1060px;
	margin: 0 70px;
	padding: 0;
}

.product-card {
	width: 340px;
	min-height: 438px;
	border: 1px solid;
	border-radius: 4px;
	border-color: #e6e6e6;
	display: flex;
	flex-wrap: wrap;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

.product-card:nth-child(3n) {
	margin-right: 0;
} */


.product-list {
	display: grid;
	grid-template-columns: repeat(3, 340px);
	/* разные вариации написания кода
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: 340px 340px 340px; */
	gap: 20px;
	list-style: none;
	width: 1060px;
	margin: 40px 70px;
	padding: 0;
}


.product-card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 16px 20px;
	width: 340px;
	min-height: 438px;
	border: 1px solid;
	border-radius: 4px;
	border-color: #e6e6e6;
	padding: 20px;

}

.product-card-link {
	margin: 0;
	padding: 0;
	grid-column: 1/3;
	text-decoration: none;
	color: #000000;
}

.product-card-image{
	margin: 0;
	padding: 0;
	grid-column: 1/3;
}

.product-card-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.product-card-type {
	margin: 0;
}

.product-card-price {
	text-align: right;
	margin: 0;
}

.product-card-button {
	background-color: #756157;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	padding: 8px 0px;
	border-radius: 4px;
	background-color: #756157;
	width: 140px;
}

.add-favorites-button {
	background-color: #82b3d3;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	padding: 8px 0px;
	border-radius: 4px;
	background-color: #82b3d3;
	width: 140px;
}

.take-button {
	background-color: #7db54f;
}


.product-card-stars {
	margin: 0;
}

/* этот способ почему-то не сработал
.product-card-stars {
	margin: 0;
	width: 100%;
	height: 17px;
	background-image: url("../images/icon/icon-star.png");
	background-repeat: space;
}

.product-stars-6 {
	width: 140px;
}

.product-stars-5 {
	width: 116px;
}

.product-stars-4 {
	width: 92px;
}

.product-stars-3 {
	width: 68px;
}

.product-stars-2 {
	width: 44px;
}

.product-stars-1 {
	width: 20px;
} */


.product-card-rating {
	background-color: #f2f2f2;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
	color: #333333;
	margin: 0;
	padding: 8px 0px;
	border-radius: 4px;
	background-color: #f2f2f2;
	width: 140px;
}

.pagination {
	display: flex;
	padding: 0;
	margin: 0 70px;
}

.pagination-item {
	display: flex;
	min-width: 60px;
	min-height: 60px;
	margin-left: 8px;
}

.pagination-item:first-child {
	margin-left: 0;
}

.pagination-link {
	min-width: 60px;
	min-height: 60px;
	border-radius: 4px;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	background-color: #82b3d3;
	color: #ffffff;
	text-decoration: none;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination-current {
	background-color: #f2f2f2;
	color: #000000;
}

.pagination-choose {
	background-color: initial;
	display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-choose-page {
	text-decoration: none;
}
