@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
}


.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #000000;

}

.button-search {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color:#FFFFFF;
    background-color: #756157;
    text-decoration: none;
}


.text-about {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}


.text-reasons {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}






.title-white {
    color: white;
}
